<div class="bots">
  <div class="bots__lists-wrap">
    <p class="user-name">kas27</p>
    <div class="bots__list-group">
      <ul class="bots__list bots__list-1k">
        <li class="bots__list-item active">primeDeceBot_to1k</li>
        <li class="bots__list-item not-active">primeDeceBot_to1k</li>
        <li class="bots__list-item">primeDeceBot_to1k</li>
      </ul>
      <ul class="bots__list bots__list-5k">
        <li class="bots__list-item">primeDeceBot_to5k</li>
        <li class="bots__list-item">primeDeceBot_to5k</li>
      </ul>
      <ul class="bots__list bots__list-10k">
        <li class="bots__list-item">primeDeceBot_to10k</li>
      </ul>
    </div>
  </div>
  <div class="bots__lists-wrap">
    <p class="user-name">smakisog</p>
    <div class="bots__list-group">
      <ul class="bots__list bots__list-1k">
        <li class="bots__list-item active">primeDeceBot_to1k</li>
        <li class="bots__list-item not-active">primeDeceBot_to1k</li>
        <li class="bots__list-item">primeDeceBot_to1k</li>
      </ul>
      <ul class="bots__list bots__list-5k">
        <li class="bots__list-item">primeDeceBot_to5k</li>
        <li class="bots__list-item">primeDeceBot_to5k</li>
      </ul>
      <ul class="bots__list bots__list-10k">
        <li class="bots__list-item">primeDeceBot_to10k</li>
      </ul>
    </div>
  </div>
</div>