<div class="menu_wrap">
  <ul class="menu">
    <li class="menu__drop">
      <a href="#" class="menu__item">Lorem ipsum</a>
      <ul class="menu__second">
        <li><a href="#" class="menu__item">Lorem ipsum</a></li>
        <li><a href="#" class="menu__item">Lorem ipsum</a></li>
        <li><a href="#" class="menu__item">Lorem ipsum</a></li>
        <li><a href="#" class="menu__item">Lorem ipsum</a></li>
      </ul>
    </li>
    <li><a href="#" class="menu__item">Lorem ipsum</a></li>
    <li><a href="#" class="menu__item">Lorem ipsum</a></li>
    <li><a href="#" class="menu__item">Lorem ipsum</a></li>
    <li><a href="#" class="menu__item">Lorem ipsum</a></li>
    <li><a href="#" class="menu__item">Lorem ipsum</a></li>
  </ul>
</div>