<div class="tets">
  <p>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet illum, non voluptas odit iste quasi accusantium officia sunt amet? Voluptatum assumenda repudiandae et, quas ut ducimus, molestiae ipsam ex vel!</span>
    <span>Expedita provident nisi, nihil veritatis, esse vel dolore sunt, architecto harum est aspernatur aliquam necessitatibus adipisci consectetur ipsa consequatur officia possimus fuga fugiat. Excepturi nemo ullam neque blanditiis similique reprehenderit!</span>
    <span>Excepturi accusantium, sed quae tenetur fuga illum aut impedit provident culpa nulla quaerat. Eligendi, voluptatibus veniam ex numquam, aliquam, quis praesentium laborum saepe repellat facere ducimus a fuga corporis officia.</span>
    <span>Recusandae tempora, dolorem illo, necessitatibus culpa blanditiis eveniet temporibus, dicta placeat quis iusto sit modi quam praesentium rem provident qui reprehenderit quisquam? Blanditiis nulla mollitia sed harum reiciendis inventore. Tenetur.</span>
  </p>
  <img src="{{ pathImg }}post/post-other1.jpg" alt="f">
</div>