$font-base: 'Open Sans', sans-serif;
$font-rajdhani: 'Rajdhani', sans-serif;

$color-white: #ffffff;
$color-black: #000000;

$color-1-1: #cccccc;
$color-1-2: #505050;

$color-2-1: #161f2b;
$color-2-2: #32576e;

$color-3-1: #61a43e;
$color-3-2: #79bb4e;

$color-4-1: #616b6e;
$color-4-2: #98abb6;

$color-5-1: #d02e00;
$color-5-2: #dc3a00;

$color-6-1: #ffc600;
$color-6-2: #ffb300;

$color-7-1: #4aff71;


$thin: 100;
$extralight: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

$break-d-x:   1220px; //  desktop-x
$break-d-l:   1024px; //  desktop-l
$break-d-m:   930px;  //  desktop-m
$break-d-s:   860px;  //  desktop-s
$break-t-l:   767px;  //  tablet-l
$break-t-m:   736px;  //  tablet-m
$break-t-s:   667px;  //  tablet-s
$break-m-l:   568px;  //  mobile-l
$break-m-m:   425px;  //  mobile-m
$break-m-s:   384px;  //  mobile-s
$break-m-xs:  320px;  //  mobile-xs