{% extends "layouts/default.njk" %}

{# Variables #}
{% set titlePage = 'Front-end starter' %}

{% block content %}
  <article id="content" class="section-main">
    {% include "modules/bots/bots.njk"%}
  </article>
{% endblock %}
